body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }

  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
@font-face {
  font-family: futurist;
  src: url(src/fonts/FUTRFW.TTF);
}
.logo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
.logo__center {
  position: relative;
  width: 490px;
  height: 360px;
  margin: 0 auto;
}
.logo__white {
  color: white;
  font-family: futurist;
  font-size: 72pt;
  text-align: center;
  margin: 0 auto;
}
.logo__red {
  position: absolute;
  left: 460px;
  top: 176px;
  color: #bf0b0b;
  font-family: futurist;
  font-size: 120pt;
}
.logo__red--jap {
  color: #bf0b0b;
}
.logo__grey {
  position: absolute;
  left: 128px;
  top: 5px;
  color: #808080;
  text-align: center;
  font-size: 22pt;
  margin: 0 0;
}

@font-face {
  font-family: futurist;
  src: url(src/fonts/FUTRFW.TTF);
}
.header {
  height: 50px;
  background-color: #171717;
  box-shadow: 0 0 8px 2px #00000080;
  position: sticky;
  top: 0;
}
.header__title {
  font-size: 16pt;
  text-align: center;
  color: white;
  font-family: futurist;
  margin: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
.header__title--red {
  color: #bf0b0b;
  font-size: 24pt;
}

@font-face {
  font-family: futurist_regular;
  src: url(src/fonts/futurist_regular.ttf);
}
.about {
  height: 1000px;
  background-color: #171717;
  box-shadow: 0 0 8px 2px #00000080;
}
.about__title {
  color: white;
  margin: 0 auto;
  font-family: futurist;
  font-size: 36pt;
  max-width: 1240px;
}
.about__container {
  display: flex;
  max-width: 1240px;
  margin: auto;
}
.about__text {
  color: white;
  margin: 20px 20px 20px 0;
  font-family: futurist_regular;
  font-size: 12pt;
}
.about__cover {
  box-shadow: 0 0 8px 2px #00000080;
  width: 400px;
  height: 400px;
  transition: all 0.3s;
}
.about__cover:hover {
  box-shadow: 10px 10px 20px 2px #00000080;
  width: 410px;
  height: 410px;
}

@font-face {
  font-family: futurist;
  src: url(src/fonts/FUTRFW.TTF);
}
@font-face {
  font-family: futurist_regular;
  src: url(src/fonts/futurist_regular.ttf);
}
#songs {
  font-family: futurist;
  text-align: center;
  color: white;
  margin: 100px 0;
}

.songs__container {
  max-width: 1180px;
  margin: 0 auto 100px;
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px 180px;
  grid-template-rows: 150px 150px 150px 150px 150px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.songs__item {
  cursor: pointer;
}
.songs__cover {
  pointer-events: none;
  margin-left: 40px;
  width: 100px;
  height: 100px;
  background-color: black;
  background-size: cover;
  transition: all 0.1s;
}
.songs__cover:hover {
  width: 100px;
  height: 100px;
}
.songs__songtitle {
  font-family: futurist_regular;
  font-size: 12pt;
  text-align: center;
  margin: 10px auto;
  color: white;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.merch {
  height: 500px;
  background-color: #171717;
  box-shadow: 0 0 8px 2px #00000080;
}

@font-face {
  font-family: futurist;
  src: url(src/fonts/FUTRFW.TTF);
}
.player {
  height: 50px;
  background-color: #171717;
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-shadow: 0 0 8px 2px #00000080;
  z-index: 1;
}
.player__content {
  height: 50px;
  max-width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 32px 32px 32px 32px 32px auto 50px 310px 50px;
}
.player__button--prev {
  margin-top: 18px;
}
.player__button--play {
  margin-top: 18px;
}
.player__button--next {
  margin-top: 18px;
}
.player__button--loop {
  margin-top: 18px;
}
.player__button--random {
  margin-top: 18px;
}
.player__player {
  display: grid;
  grid-template-columns: 90px auto 90px;
}
.player__time {
  font-family: futurist;
  color: white;
  font-size: 9px;
  margin: auto;
}
.player__time--current {
  font-family: futurist;
  color: white;
  font-size: 9px;
  margin: auto;
}
.player__progressbar {
  height: 2px;
  width: 100%;
  margin: auto;
  background-color: red;
}
.player__volume {
  position: relative;
}
.player__volume:hover .player__volumeslider {
  display: block;
}
.player__volume--image {
  margin: 12px 12px;
}
.player__volumeslider {
  background-color: #171717;
  position: absolute;
  width: 50px;
  height: 146px;
  top: -146px;
}
.player__volume .player__volumeslider {
  display: none;
}
.player__songinfo {
  background-color: #171717;
  display: grid;
  grid-template-columns: 50px auto;
}
.player__songinfo--title {
  font-family: futurist;
  color: white;
  padding: 12px;
  font-size: 8pt;
}
.player__mixer {
  background-color: #171717;
  position: relative;
}
.player__mixer:hover .mixer {
  top: -146px;
}
.player__mixer .mixer {
  top: 0px;
}

.mixer {
  background-color: #171717;
  width: 360px;
  height: 146px;
  position: absolute;
  top: -146px;
  left: -310px;
  z-index: -1;
  display: grid;
  grid-template-rows: 0 14px 14px 14px 14px;
  grid-row-gap: 18px;
  grid-template-columns: 106px 14px auto;
}
.mixer__channel--name {
  font-family: futurist;
  color: white;
  margin-top: -3px;
}
.mixer__channel--active {
  background-color: green;
  border-radius: 50%;
}
.mixer__channel--slider {
  margin: -1px 18px 0;
  width: 204px;
  padding: 0;
}

input[type=range]::-moz-range-thumb {
  border: 0 solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 0;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  background: #bf0b0b;
  border-radius: 0px;
  border: 0 solid #010101;
}

@font-face {
  font-family: futurist;
  src: url(src/fonts/FUTRFW.TTF);
}
.songtitle {
  max-width: 1024px;
  margin: auto;
}
.songtitle__title {
  color: white;
  font-family: futurist;
  font-size: 52pt;
  margin-top: 20vh;
}
.songtitle__line {
  height: 2px;
  background-color: white;
}
.songtitle__number {
  color: white;
  font-family: futurist;
  font-size: 24pt;
  text-align: end;
  margin-bottom: 20vh;
}

/*# sourceMappingURL=style.css.map */
